# If this file changes please update the server and run
#
#   crontab ~/rails-docs-server/config/crontab
#
# to install the new jobs.

SHELL=/bin/bash
BASH_ENV=~/.bash_profile

*/1 * * * *  ~/bin/rails_master_hook.sh

@midnight ~/rails-docs-server/bin/expire_cached_pages.sh
@daily ~/rails-docs-server/bin/clean_edge_mobis.sh
@reboot cd ~/rails-contributors/current && bundle exec puma -C /home/rails/rails-contributors/shared/puma.rb --daemon
@reboot cd ~/rails-hooks && unicorn -D -c unicorn.rb
